.ph-rrweb-wrapper {
  height: 100%;
  width: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.ph-rrweb-frame {
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: relative;
}

.ph-rrweb-frame .replayer-wrapper {
  transform-origin: top left;
}

.ph-rrweb-frame iframe {
  border: 0px;
  background-color: white;
}

.ph-rrweb-bottom {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;

  background-color: #333;
  color: white;
  padding-bottom: 12px;

  align-self: flex-end;
}

.ph-rrweb-progress {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.ph-rrweb-controller {
  display: flex;
}

.ph-rrweb-controller > * {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.ph-rrweb-controller-icon {
  margin-left: 2px;
  margin-right: 8px;
  font-size: 24px;
  cursor: pointer;
}

.ph-rrweb-speed-toggle {
  cursor: pointer;
  margin-right: 5px;
}

.ph-rrweb-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.ph-rrweb-play-pause-overlay {
  background-color: #333;
  color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  height: 60px;
  width: 60px;
  font-size: 24px;
}

.ph-rrweb-play-pause-overlay-enter-active {
  height: 100px;
  width: 100px;

  font-size: 40px;
  opacity: 0.6;
  transition: 400ms ease-in-out;
}
